html {
  position: relative;
  // 抗锯齿渲染
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  font-size: 16px;
  // font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto !important;
}
.wrapper {
  width: 100%;
  position: relative;
  height: 100vh;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #f8f8f8;
  border-radius: 10px;
  background: #f8f8f8;
}
::-webkit-scrollbar-track-piece {
  //滚动条凹槽的颜色，还可以设置边框属性
  background-color: #f8f8f8;
}
::-webkit-scrollbar {
  //滚动条的宽度
  width: 6px;
  height: 6px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  //滚动条的设置
  background-color: #dddddd;
  background-clip: padding-box;
  min-height: 28px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

.table-card {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  //   overflow-y: auto;
  &-pagination {
    margin-top: 20px;
  }
}

.table-search {
  display: block;
  width: 100%;
  margin: 8px 0;
  overflow: hidden;
}
.table-operate {
  display: block;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.table-selection {
  border: 1px solid #409eff;
  background: #b7e8ff;
  // width: 100%;
  padding: 6px 14px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  & > .selection-span {
    text-align: left;
    & > a {
      color: #409eff;
    }
  }
  & > .selection-operate {
    margin-left: 10px;
    color: #409eff;
    cursor: pointer;
  }
}
